@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "./colores.scss";
@import "../layout/layout.scss";
@import "../layout/menu/menu.scss";
@import "../layout/navbar/navbar.scss";
@import "../layout/footer/footer.scss";
@import "../components/login/login.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}